@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 100vh;

}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* Cart page */
section.cart {
    position: relative;
    width: 80%;
    margin: 80px 0;
}

.heading {
    padding: 20px 0;
    border-bottom: 2px solid #a7a7a7;
}

.heading h1 {
    display: flex;
    justify-content: space-between;
}
section.cart .container {
    margin-left: 140px;
    margin-right: 50px;
}

.div-title {
    text-transform: uppercase;
    color: #acacac;
    display: flex;
    padding-top: 20px;
}

.div-title h3:first-child,
.div-title p:first-child {
    width: 40%;
    text-align: left;
}

.div-title h3:not(:first-child),
.div-title p:not(:first-child) {
    width: 20%;
    text-align: center;
}

.cart-item {
    padding: 20px 0;
    display: flex;
}
.cart-item .div-title {
    text-transform: uppercase;
    color: #acacac;
}

.cart-item .product-details {
    width: 40%;
    padding: 20px 40px 20px 0;
    position: relative;
}

.product-img {
    width: 90px;
    height: 110px;
    float: left;
    margin-right: 20px;
}
.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-title {
    display: block;
}

.product-details small {
    display: block;
    color: #acacac;
}

.product-details small {
    margin: 5px 0;
}

.product-details small:last-child {
    margin: 10px 0 0;
}
.product-rating i {
    color: #f9ca24;
}

.cart-item .product-quantity,
.cart-item .product-price,
.cart-item .product-total {
    width: 20%;
    text-align: center;
}

.product-quantity,
.product-price p,
.product-total p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 150px;
    padding: 20px 0;
    font-weight: bold;
}

.product-quantity .quantity {
    border: 2px solid #b7b5b5;
    padding: 3px 10px;
    font-weight: 300;
    font-size: 12px;
}

.product-quantity .quatity-btn {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
}

aside {
    width: 20%;
    background-color: #e9e6e6;
    margin: 80px 0;
    position: fixed;
    right: 0;
}

aside .wrapper {
    padding: 0 45px;
}

.order-summery {
    padding: 20px 0 30px;
}

.order-summery h4 {
    display: flex;
    justify-content: space-between;
}

.order-summery .payment,
.order-summery .promo-code {
    margin: 20px 0 20px;
}

.order-summery .promo-code {
    border-bottom: 2px solid #a7a7a7;
}

.order-summery .payment select,
.order-summery .promo-code input {
    border: none;
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
}

.order-summery .payment select:focus,
.order-summery .promo-code input:focus {
    outline: 0;
}

.btn {
    padding: 10px 40px;
    margin: 20px 0 16px;
    border: none;
    background-color: #c44f4f;
    color: #fff;
}

.promo-code .codes {
    padding-top: 15px;
}

.code-btn {
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: #27ae60;
    color: #fff;
    margin: 3px;
}

.error {
    color: #d93611db;
    font-size: 10px;
}


.checkout-btn {
    width: 100%;
    border: none;
    padding: 15px;
    margin-top: 10px;
    color: #fff;
    background-color: #4172da;
}

.confirm-btn {
    background-color: #4172da;
    width: 50%;
    margin: 30px 25% 0; 
    font-size: 18px;   
}

.wishlist {
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
}
.wishlist i {
    font-size: 32px;
    color: #505050;
    position: relative;
}
.wishlist i span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c44f4f;
    font-size: 9px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

.wished-item {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: transparent;    
}
.wished-item i {
    font-size: 14px;
    color: #acacac;
}

.liked i{
    color:#c44f4f
}


.dark-back,
.dark-back-checkout,
.dark-back-success {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.604);
    z-index: 1;
    display: none;
    overflow: hidden;
}

.wishlist-container,
.checkout-container,
.show-success {
    position: fixed;
    width: 60%;
    height: 80%;
    background-color: #e9e6e6;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.wishlist-container::-webkit-scrollbar,
.checkout-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.wishlist-container .items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.wishlist-container .items .product-details {
    width: 80%;
}

.items .wished-item {
    display: none;
}

.close-btn {
    position: absolute;
    border-radius: 50%;
    padding: 5px 9px 4px;
    top: 8%;
    right: 19%;
    background-color: #c44f4f;
    border: none;
    z-index: 100;
}

.close-btn i {
    color: #fff;
    font-size: 16px;
}

.checkout-container .div-title:not(:first-child) {
    color: #000;
}

.checkout-container .checkout-total-price {
    border-top: 2px solid #a7a7a7;
    margin-top: 15px;
}

.checkout-container .checkout-total-price h4,
.checkout-container .checkout-promo h4 {
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
    margin-top: 20px;
}

.show-success {
    width: 35%;
    height: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-success i {
    color: #27ae60;
    font-size: 4em;
}

.show-success h2 {
    margin: 40px 0;
}

.reload-btn {
    cursor: pointer;
    background-color: #27ae60;
}

.return-btn {
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #27ae60;
    color: #fff;
    position: absolute;
    bottom: -3%;
    left: 11%;
}
